
<div class="col-lg-12" align="center">
    <img width="65" height="65" class="float-left" src="/img/android-icon-192x192.png" alt="">
    <br>
    <h1 class="float-left"> Menu</h1>
    <br><br><hr>
    <small class="float-left">Bienvenido</small>
    <br><hr>


    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapsePizzas" role="button" aria-expanded="false" aria-controls="collapseExample">
            Pizzas
        </a>
        
    </p>
    <div class="collapse" id="collapsePizzas">
        <div class="card card-body" id="pizzaCard">
        </div>
    </div>
    <br>

        <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseMeals" role="button" aria-expanded="false" aria-controls="collapseExample">
            Meals
        </a>
        
    </p>
    <div class="collapse" id="collapseMeals">
        <div class="card card-body" id="mealsCard">
        </div>
    </div>
    <br>

        <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseDrinks" role="button" aria-expanded="false" aria-controls="collapseExample">
            Drinks
        </a>
        
    </p>
    <div class="collapse" id="collapseDrinks">
        <div class="card card-body" id="drinksCard">
        </div>
    </div>
    <br>
    <small class="float-left">Regalanos un like en facebook y danos tu opinion. Provechito 🍕🥂</small>
        <br><hr>
    <img width="295" height="295" src="/img/qrfbbellaciao.png" alt="">
</div>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="/js/menu4clients.js"></script>
